@charset "UTF-8";
*{
    margin: 0%
}
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root{
    ---fonnt-padrao: 'Hubballi', arial;
    ---cor-letra: #ff9100;
}
body{
    background-image: linear-gradient(to bottom, black, darkred);
    background-attachment: fixed;
}
header{
    background-color: black;
}
header > img{ 
    display: block;
    margin: auto;
    
}
header > h1{
    font-variant: small-caps;
    color: var(---cor-letra);
    text-align: center;
}
.quadro{
    display: inline-block;
    padding-right: 8px;
    
    
}
.imagem{
    height: 200px;
    width: 320px;
}
span{
    color: var(---cor-letra);
    text-align: left;
    
}
.bloco{
    text-align: center;
    margin-top: 15px;
}
nav > a{
    text-decoration: none;
    color: var(---cor-letra);
    padding-right: 3px;
    font-variant: small-caps;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.172);
    border-radius: 8px;
    color: #f2ff00;
}
.comprar