@charset "UTF-8";
*{
    margin: 0%
}
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root{
    ---fonnt-padrao: 'Hubballi', arial;
}
main{
     height: auto;
     width: 80vh;
     margin: auto;
     background-color: black;
     padding: 20px;
     margin-top: 10px;
     border-radius: 10px;
}
body{
    background-image: linear-gradient(to bottom, black, darkred);
}
header{
    background-color: black;
}
header > img{ 
    display: block;
    margin: auto;
    
}
header > h1{
    font-variant: small-caps;
    color: rgb(255, 145, 0);
    text-align: center;
}
.quadro{
    display: inline-block;
    padding-right: 8px;
}
span{
    color: rgb(255, 145, 0);
    
}
